<div class="row">
    <form name="login-form" id="login-form" class="col-md-6 col-md-offset-3" ng-submit="login(credentials)">
        <fieldset>
            <input type="text" class="form-control" ng-model="credentials.username" name="username" placeholder="Username" />
            <input type="password" class="form-control" ng-model="credentials.password" name="password" placeholder="Password" />
        </fieldset>
        <input type="submit" class="btn btn-primary" ng-submit value="Sent"/>
    </form>
</div>