<form name="signUpForm" id="sign-up-form" class="clearfix col-md-6" ng-submit="signUp(credentials)">
    <h2>SignUp at <span class="logo-titled">Message!</span> <span class="glyphicon glyphicon-log-in"></span></h2>
    <fieldset>
        <input type="text" class="form-control" ng-model="credentials.username" name="username" placeholder="Username" required />
        <input type="email" class="form-control" ng-model="credentials.mail" name="mail" placeholder="E-mail" required/>
        <input type="password" class="form-control" ng-model="credentials.password" name="password" placeholder="Password" required />
        <input type="password" class="form-control" ng-model="credentials.passwordRep" name="password" placeholder="Repeat Password" required />
    </fieldset>
    <div class="actions actions-centered clearfix">
        <div class="actions-container">
            <a href="#/login" class="btn btn-info">Go to Log In</a>
            <input type="submit" id="send-sign-up" class="btn btn-primary" ng-submit value="Sign Up" ng-disabled="signUpForm.$invalid"/>
        </div>
    </div>
    <ul id="sign-up-messages" ng-class="signUpStateClass">
        <li class="message" ng-repeat="signUpMessage in signUpMessages"><% signUpMessage %></li>
    </ul>
</form>